In [1]:
import pandas as pd 
import os
# import pyodbc
import datetime
from datetime import datetime 
import warnings

In [2]:
warnings.filterwarnings('ignore')

#### ส่วนจัดการข้อมูล

In [3]:
#เปลี่ยน path
path = r'C:\Users\charoenchai.chu\Desktop\Rules\สาขาแม่ฮ่องสอน และสาขาแม่สะเรียง'
file_name00 = '421'

file_path00 = os.path.join(path, file_name00 + '.xlsx')
df=pd.read_excel(file_path00 , skiprows= 4)
df['รหัสสาขา'] = file_name00

In [4]:
# #เปลี่ยน path
# # path = r'C:\Users\charoenchai.chu\Desktop\test'
# file_name01 = '422'

# file_path01 = os.path.join(path, file_name01 + '.xlsx')
# df1=pd.read_excel(file_path01 , skiprows= 4)
# df1['รหัสสาขา'] = file_name01

In [5]:
# ชือ่ field เดียวกันเอาข้อมุลมาต่อข้างล่าง
# df = pd.concat([df0, df1], ignore_index=True)

In [6]:
# ตั้งชื่อ field ใหม่ทั้งหมด
new_column_names = ['ที่', 'กรมธรรม์', 'สถานะ', 'เงินค้ำ' ,'ชื่อ-สกุล', 'วันที่เปลี่ยนแปลงแก้ไข', 'สาขา', 'ชื่อ-สกุลผู้เปลี่ยน', 'ที่อยู่เดิม' ,'ไปรษณีย์เดิม',
                    'โทรศัพท์เดิม', 'ที่อยู่ใหม่', 'ไปรษณีย์ใหม่' ,'โทรศัพท์ใหม่', 'งวดชำระถึง', 'วันเดือนปีที่ชำระ', 'งวดครบชำระ', 'วันเดือนปี','จำนวนเงิน' ,'ประเภท 1 (ปี)' ,
                    'วันเดือนปี 1' , 'จำนวนเงิน 1', 'รหัสสาขา' ]
df.columns = new_column_names
df['กรมธรรม์'] = df['กรมธรรม์'].astype(str)
length = df['กรมธรรม์'].str.len()
df['กรมธรรม์'] = df['กรมธรรม์'].where(length >= 6, df['กรมธรรม์'].shift())
# เปลี่ยน type ข้อมูล
dtypes = {
        "ที่": "str",
        "กรมธรรม์": "str",
        "รหัสสาขา": "str",
        "สถานะ": "object",
        "เงินค้ำ": "str",
        "ชื่อ-สกุล": "object",
        "วันที่เปลี่ยนแปลงแก้ไข": "object", 
        "สาขา": "object",
        "ชื่อ-สกุลผู้เปลี่ยน": "object",
        "ที่อยู่เดิม": "object",
        "ไปรษณีย์เดิม": "object",
        "โทรศัพท์เดิม": "str",
        "ที่อยู่ใหม่": "object",
        # "count": "int64",
        "ไปรษณีย์ใหม่": "object",
        "โทรศัพท์ใหม่": "str",
        "งวดชำระถึง": "object",
        "วันเดือนปีที่ชำระ": "object", 
        "งวดครบชำระ": "object",
        "วันเดือนปี": "object", 
        # "จำนวนเงิน": "float64",
        "ประเภท 1 (ปี)": "object",
        "วันเดือนปี 1": "object",
        "จำนวนเงิน 1": "object",
        # "ประเภท 2 (ปี)": "object",
        # "วันเดือนปี 2": "object",
        # "จำนวนเงิน 2": "float64"
    }
df = df.astype(dtypes)

# df.head()
# df.info()

,ที่,กรมธรรม์,สถานะ,เงินค้ำ,ชื่อ-สกุล,วันที่เปลี่ยนแปลงแก้ไข,สาขา,ชื่อ-สกุลผู้เปลี่ยน,ที่อยู่เดิม,ไปรษณีย์เดิม,...,โทรศัพท์ใหม่,งวดชำระถึง,วันเดือนปีที่ชำระ,งวดครบชำระ,วันเดือนปี,จำนวนเงิน,ประเภท 1 (ปี),วันเดือนปี 1,จำนวนเงิน 1,รหัสสาขา
0,1.0,11339304.0,M,117.0,ทัดธน กล้าประจัน,14/09/2566,NaN,NaN,82 หมู่ที่ 6 หมู่บ้านสบป่อง ตำบลปางหมู อำเภอเม...,58000.0,...,821909298.0,06/2564,17/06/2564,-,-,0,ปันผล (20),05/07/2564,"2,820.00",421
1,2.0,41083571.0,R,5.0,ศุภกร อักษรมะโนเพชร,27/04/2567,NaN,NaN,น.ส.ศุภักษร อักษรมะโนเพชร (แอดไวซ์ ช้างเผือก) ...,50200.0,...,808535140.0,01/2550,17/01/2550,-,-,0,NaN,NaN,NaN,421
2,3.0,41111179.0,I,272.0,ทองคำ แก้วแสงยศ,13/03/2567,NaN,NaN,48 หมู่ที่ 1 หมู่บ้านแม่หมู ตำบลสบป่อง อำเภอปา...,58150.0,...,nan,11/2567,07/06/2567,-,-,0,NaN,NaN,NaN,421
3,4.0,42221382.0,I,737.0,ศรัทธา เป็งปัญญา,01/12/2566,เชียงใหม่,พวงผกา,167 หมู่ที่ 12 หมู่บ้านโป่งนอก ตำบลบ้านกาศ อำเ...,58110.0,...,833218712.0,09/2567,27/03/2567,-,-,0,NaN,NaN,NaN,421
4,5.0,42221383.0,I,737.0,ณชสิทธิ์ เป็งปัญญา,01/12/2566,เชียงใหม่,พวงผกา,167 หมู่ที่ 12 หมู่บ้านโป่งนอก ตำบลบ้านกาศ อำเ...,58110.0,...,861814841.0,09/2567,27/03/2567,-,-,0,NaN,NaN,NaN,421

In [7]:
# เอาที่เลขกรมธรรม์เป็น null ออก เอาไว้ไปเติมข้อมูล
null_df = df[df['สถานะ'] . isnull()]
null_df.head()
null_field = ['กรมธรรม์' , 'ประเภท 1 (ปี)' ,'วันเดือนปี 1', 'จำนวนเงิน 1']
null_df = null_df[null_field]
# เปลี่ยนชื่อ field
null_df.columns = ['กรมธรรม์' , 'ประเภท 2 (ปี)' ,'วันเดือนปี 2', 'จำนวนเงิน 2']
# null_df.head()

In [8]:
# ดึงเลขกรมธรรม์ที่ไม่ null
notnull_df = df[df['สถานะ'] .notnull()]
# notnull_df.head()

In [9]:
# ่join data
data_df = pd.merge(notnull_df, null_df, on='กรมธรรม์', how='left')

# นับจำนวนการเกิดซ้ำของแต่ละค่าในคอลัมน์ 'ที่อยู่ใหม่'
data_df['count'] = data_df.groupby('ที่อยู่ใหม่')['ที่อยู่ใหม่'].transform('count')

# เรียงลำดับคอลัมน์ใหม่ 
column_order = ['ที่', 'กรมธรรม์','รหัสสาขา', 'สถานะ', 'เงินค้ำ', 'ชื่อ-สกุล',
       'วันที่เปลี่ยนแปลงแก้ไข', 'สาขา', 'ชื่อ-สกุลผู้เปลี่ยน', 'ที่อยู่เดิม',
       'ไปรษณีย์เดิม', 'โทรศัพท์เดิม', 'ที่อยู่ใหม่', 'count' , 'ไปรษณีย์ใหม่',
       'โทรศัพท์ใหม่', 'งวดชำระถึง', 'วันเดือนปีที่ชำระ', 'งวดครบชำระ',
       'วันเดือนปี', 'จำนวนเงิน', 'ประเภท 1 (ปี)', 'วันเดือนปี 1',
       'จำนวนเงิน 1',  'ประเภท 2 (ปี)', 'วันเดือนปี 2',
       'จำนวนเงิน 2']
data_df = data_df[column_order]
# ตัด .0 ออกจากที่
data_df['ที่'] = data_df['ที่'].astype(str).str.replace('.0', '')

# ตัด .0 ออกจากเลขกรมธรรม์
data_df['กรมธรรม์'] = data_df['กรมธรรม์'].astype(str).str.replace('.0', '')

# เติม เงินค้ำ ให้ครบ 4 หลัก
data_df['เงินค้ำ'] = data_df['เงินค้ำ'].astype(str).str[:-2].str.zfill(5)

# เติม เบอร์โทรให้ครบ 10 หลัก
data_df['โทรศัพท์เดิม'] = data_df['โทรศัพท์เดิม'].astype(str).str.replace('.0', '')
if len(data_df['โทรศัพท์เดิม']) >= 8 :
       data_df['โทรศัพท์เดิม'] = data_df['โทรศัพท์เดิม'].apply(lambda x: '0' + x if len(x) > 7 else x)
data_df['โทรศัพท์เดิม'] = data_df['โทรศัพท์เดิม'].astype(str).str.replace('nan', '')

data_df['โทรศัพท์ใหม่'] = data_df['โทรศัพท์ใหม่'].astype(str).str.replace('.0', '')
if len(data_df['โทรศัพท์ใหม่']) >= 8 :
       data_df['โทรศัพท์ใหม่'] = data_df['โทรศัพท์ใหม่'].apply(lambda x: '0' + x if len(x) > 7 else x)
data_df['โทรศัพท์ใหม่'] = data_df['โทรศัพท์ใหม่'].astype(str).str.replace('nan', '')
# data_df['โทรศัพท์ใหม่']
# data_df.head()

In [10]:
# ตัดแถวที่ไม่ต้องการ
data_df_finish = data_df[data_df['สถานะ'] .notnull()]
# notnull_df = df[df['กรมธรรม์'] .notnull()]
# data_df_finish.head()

#### ส่วน ACL

In [11]:
# เพิ่ม Field : วันที่เปลี่ยนแปลงแก้ไข_คส

# ฟังก์ชันแปลงวันที่
def convert_date(date_str):
    day, month, year = map(int, date_str.split('/'))
    year -= 543  # ปรับปีพุทธศักราชเป็นคริสต์ศักราช
    return f"{day:02d}/{month:02d}/{year:04d}"

# สร้างคอลัมน์ใหม่ใน DataFrame
data_df_finish['วันที่เปลี่ยนแปลงแก้ไข_คส'] = data_df_finish['วันที่เปลี่ยนแปลงแก้ไข'].apply(convert_date)
# data_df_finish.head()

In [12]:
# เพิ่ม Field : วันที่จ่ายเงิน_คส

# ฟังก์ชันแปลงวันที่
def convert_date(date_str):
    if pd.notna(date_str):
        try:
            day, month, year = map(int, date_str.split('/'))
            year -= 543  # ปรับปีพุทธศักราชเป็นคริสต์ศักราช
            return f"{day:02d}/{month:02d}/{year:04d}"
        except ValueError:
            return None  # คืนค่า None หากไม่สามารถแปลงได้
    return None

# สร้างคอลัมน์ใหม่ใน DataFrame
data_df_finish['วันที่จ่ายเงิน_คส'] = data_df_finish['วันเดือนปี 1'].apply(convert_date)
# data_df_finish.head()

In [13]:
#  เพิ่ม field : review_วันที่จ่ายเงิน

# Convert date format ให้เป็น datetime format
data_df_finish['วันที่จ่ายเงิน_คส'] = pd.to_datetime(data_df_finish['วันที่จ่ายเงิน_คส'], format='%d/%m/%Y')
data_df_finish['วันที่เปลี่ยนแปลงแก้ไข_คส'] = pd.to_datetime(data_df_finish['วันที่เปลี่ยนแปลงแก้ไข_คส'], format='%d/%m/%Y')

# หาความต่างของวันที่
data_df_finish['review_วันที่จ่ายเงิน'] = (data_df_finish['วันที่จ่ายเงิน_คส'] - data_df_finish['วันที่เปลี่ยนแปลงแก้ไข_คส']).dt.days

# data_df_finish.head()

#### ใส่ Rules

##### Rules 1

In [14]:
# เปลี่ยนรหัสสาขาทุกครั้ง
# รหัสสาขา = '031'

data_df_finish['ประเภท 1 (ปี)'] = data_df_finish['ประเภท 1 (ปี)'].astype(str)
data_df_finish['รหัสสาขา'] = data_df_finish['รหัสสาขา'].astype(str)
# data_df_finish['review_วันที่จ่ายเงิน'] = data_df_finish['review_วันที่จ่ายเงิน'].astype(str).str.replace('.0', '')

In [15]:
# Rule 101
# ((BETWEEN( review_วันที่จ่ายเงิน, -90 , 90 )) AND (count <> 1)) AND (ประเภท_1__ปี_ = "เงินกู้") AND (รหัสสาขา = "202")

Rule_101 = data_df_finish[
    (data_df_finish['review_วันที่จ่ายเงิน'].between(-90, 90)) &
    (data_df_finish['count'] != 1) &
    (data_df_finish['ประเภท 1 (ปี)'] == 'เงินกู้') 
    # (data_df_finish['รหัสสาขา'] == รหัสสาขา)
]
Rule_101['Rules']= 101
Rule_101['Remark']= 'ที่อยู่ใหม่ซ้ำ_มีเงินกู้ในช่วง90วัน'
# Rule_101.head()

In [16]:
# Rule 102
# ((BETWEEN( review_วันที่จ่ายเงิน, -90 , 90 )) AND (count = 1)) AND (ประเภท_1__ปี_ = "เงินกู้") AND (รหัสสาขา = "202")

Rule_102 = data_df_finish[
    (data_df_finish['review_วันที่จ่ายเงิน'].between(-90, 90)) &
    (data_df_finish['count'] == 1) &
    (data_df_finish['ประเภท 1 (ปี)'] == 'เงินกู้') 
    # (data_df_finish['รหัสสาขา'] == รหัสสาขา)
]
Rule_102['Rules']= 102
Rule_102['Remark']= 'ที่อยู่ใหม่ไม่ซ้ำ_มีเงินกู้ในช่วง90วัน'
# Rule_102.head()

In [17]:
# Rule 103
# ((((BETWEEN( review_วันที่จ่ายเงิน, -90 , 90 )) AND (count <> 1)) AND (ประเภท_1__ปี_ <> "เงินกู้")) AND (ประเภท_1__ปี_ <> "ปันผล (15)")) AND (ประเภท_1__ปี_ <> "ปันผล (20)")  AND (รหัสสาขา = "632") 

Rule_103 = data_df_finish[
    (data_df_finish['review_วันที่จ่ายเงิน'].between(-90, 90)) &
    (data_df_finish['count'] != 1) &
    (data_df_finish['ประเภท 1 (ปี)'] != 'เงินกู้') &
    (data_df_finish['ประเภท 1 (ปี)'] != 'ปันผล (15)') &
    (data_df_finish['ประเภท 1 (ปี)'] != 'ปันผล (20)') 
    # (data_df_finish['รหัสสาขา'] == รหัสสาขา)
]
Rule_103['Rules']= 103
Rule_103['Remark']= 'ที่อยู่ใหม่ซ้ำ_มีเงินจ่ายคืนในช่วง90วัน'
# Rule_103.head()

In [18]:
# Rule 104
#  ((((BETWEEN( review_วันที่จ่ายเงิน, -90 , 90 )) AND (count = 1)) AND (ประเภท_1__ปี_ <> "เงินกู้")) AND (ประเภท_1__ปี_ <> "ปันผล (20)")) AND (ประเภท_1__ปี_ <> "ปันผล (10)") AND (รหัสสาขา = "202")

Rule_104 = data_df_finish[
    (data_df_finish['review_วันที่จ่ายเงิน'].between(-90, 90)) &
    (data_df_finish['count'] == 1) &
    (data_df_finish['ประเภท 1 (ปี)'] != 'เงินกู้') &
    (data_df_finish['ประเภท 1 (ปี)'] != 'ปันผล (10)') &
    (data_df_finish['ประเภท 1 (ปี)'] != 'ปันผล (20)') 
    # (data_df_finish['รหัสสาขา'] == รหัสสาขา)
]

Rule_104['Rules']= 104
Rule_104['Remark']= 'ที่อยู่ใหม่ไม่ซ้ำ_มีเงินจ่ายคืนในช่วง90วัน'
# Rule_104.head()

In [19]:
Rules1_df = pd.concat([Rule_101, Rule_102 ,Rule_103 ,Rule_104], ignore_index=True)
Rules1_df['review_วันที่จ่ายเงิน'] = Rules1_df['review_วันที่จ่ายเงิน'].astype(str).str.replace('.0', '')
# Rules1_df.head()

In [20]:
Rules1_df['จำนวนเงิน'] = Rules1_df['จำนวนเงิน'].str.replace(',', '').astype(float)
Rules1_df = Rules1_df.sort_values(by=['Rules', 'จำนวนเงิน'], ascending=[True, False])
# Rules1_df.head()

,ที่,กรมธรรม์,รหัสสาขา,สถานะ,เงินค้ำ,ชื่อ-สกุล,วันที่เปลี่ยนแปลงแก้ไข,สาขา,ชื่อ-สกุลผู้เปลี่ยน,ที่อยู่เดิม,...,วันเดือนปี 1,จำนวนเงิน 1,ประเภท 2 (ปี),วันเดือนปี 2,จำนวนเงิน 2,วันที่เปลี่ยนแปลงแก้ไข_คส,วันที่จ่ายเงิน_คส,review_วันที่จ่ายเงิน,Rules,Remark
0,23,32632393,421,I,00117,จรีวรรณ นิลไพบูลย์,08/05/2567,NaN,NaN,27/4 ถนนปางล้อนิคม ตำบลจองคำ อำเภอเมือง แม่ฮ่อ...,...,08/05/2567,"2,000.00",NaN,NaN,NaN,2024-05-08,2024-05-08,0,104,ที่อยู่ใหม่ไม่ซ้ำ_มีเงินจ่ายคืนในช่วง90วัน
2,26,35257508,421,I,00098,ก้องภพ กันทะ,03/07/2567,แม่ฮ่องสอน,ทัศน์พล,167 หมู่ที่ 1 ตำบลหมอกจำแป่ อำเภอเมือง แม่ฮ่อง...,...,08/05/2567,"2,000.00",NaN,NaN,NaN,2024-07-03,2024-05-08,-56,104,ที่อยู่ใหม่ไม่ซ้ำ_มีเงินจ่ายคืนในช่วง90วัน
1,24,33122474,421,M,00098,กนกวรรณ พันธุ์พาณิชย์,19/02/2567,NaN,NaN,46 หมู่ที่ 8 บ้านใหม่สุขสันต์ ซอยคนึงนุช ตำบลถ...,...,14/01/2567,"2,000.00",จ่ายคืน (15),14/01/2567,"10,000.00",2024-02-19,2024-01-14,-36,104,ที่อยู่ใหม่ไม่ซ้ำ_มีเงินจ่ายคืนในช่วง90วัน

In [21]:
# ลบคอลัมน์ 'Rules' ออก
Rules1_df = Rules1_df.drop(columns=['Rules'])

In [22]:
now = datetime.now().strftime("%d%m%Y")

# แยก DataFrame ตามรหัสสาขาและ Remark และจัดเรียงตามขนาดกลุ่ม
grouped = Rules1_df.groupby(['รหัสสาขา', 'Remark'])
sorted_groups = sorted(grouped, key=lambda x: len(x[1]))

# export แบ่งไฟล์ตามสาขา แยก sheet ตาม Hierarchy Rules
for branch_code in Rules1_df['รหัสสาขา'].unique():
    for remark in Rules1_df[Rules1_df['รหัสสาขา'] == branch_code]['Remark'].unique():
        branch_remark_df = Rules1_df[(Rules1_df['รหัสสาขา'] == branch_code) & (Rules1_df['Remark'] == remark)]
        record_count = branch_remark_df.shape[0]  # นับจำนวน record หลังการแบ่งไฟล์
        
        # ถ้า record เกิน 10 ให้เลือกแค่ 10 record
        if record_count > 10:
            branch_remark_df = branch_remark_df.head(2)
            record_count = 10
        
        file_name000 = f"changeaddr_{branch_code}_{now}_{remark}_{record_count}.xlsx"
        file_path000 = os.path.join(path, file_name000)
        
        with pd.ExcelWriter(file_path000) as writer:
            for (group_branch_code, group_remark), group in sorted_groups:
                if group_branch_code == branch_code and group_remark == remark:
                    rules = group['Remark'].unique()[0]
                    sheet_name = f"{rules}"
                    group.head(10).to_excel(writer, sheet_name=sheet_name, index=False)