In [66]:
import pandas as pd 
import os
import datetime
from datetime import datetime
import warnings

In [67]:
warnings.filterwarnings('ignore')

#### ส่วนจัดการไฟล์

In [68]:
#เปลี่ยน path
path = r'C:\Users\charoenchai.chu\Desktop\Rules\RULE-4\021'
path00 = r'C:\Users\charoenchai.chu\Desktop\Rules\RULE-4'
file_name00 = 'IND_021'

file_path00 = os.path.join(path00, file_name00 + '.xlsx')
df=pd.read_excel(file_path00 , skiprows= 4)
df['รหัสสาขา'] = file_name00[-3:]

In [69]:
# #เปลี่ยน path
# path = r'C:\Users\charoenchai.chu\Desktop\Rules\สาขาแม่ฮ่องสอน และสาขาแม่สะเรียง'
# file_name01 = 'IND_422'

# file_path01 = os.path.join(path, file_name01 + '.xlsx')
# df1=pd.read_excel(file_path01 , skiprows= 4)
# df1['รหัสสาขา'] = file_name01[-3:]

In [70]:
# df = pd.concat([df0, df1], ignore_index=True)

In [71]:
# ตั้งชื่อ field ใหม่ทั้งหมด
new_column_names = ['ที่', 'กรมธรรม์', 'ชื่อ-สกุล', 'ที่อยู่1', 'วันที่จ่ายเงิน', 'ปี','จำนวนเงิน' ,'รับเอง' ,'รับมอบฯ' ,'null','รหัสสาขา']
df.columns = new_column_names
# แทนที่ค่า null ด้วยตัวก่อนหน้า

df['กรมธรรม์'] = df['กรมธรรม์'].astype(str)
length = df['กรมธรรม์'].str.len()
df['กรมธรรม์'] = df['กรมธรรม์'].where(length >= 6, df['กรมธรรม์'].shift())
# เปลี่ยน type ข้อมูล
dtypes = {
        "ที่": "str",
        "กรมธรรม์": "str",
        "รหัสสาขา": "str",
        "ชื่อ-สกุล": "object",
        "ที่อยู่1": "object", 
        # "ที่อยู่2": "object",
        "วันที่จ่ายเงิน": "object",
        "ปี": "object",
        "จำนวนเงิน": "str",
        "รับเอง": "object",
        "รับมอบฯ": "object"
    }
df = df.astype(dtypes)
# ตัดแถวว่างออก
df = df[df['ที่อยู่1'] . notnull()]
df.head()

,ที่,กรมธรรม์,ชื่อ-สกุล,ที่อยู่1,วันที่จ่ายเงิน,ปี,จำนวนเงิน,รับเอง,รับมอบฯ,null,รหัสสาขา
1,1,42266106,นายคำมง ปริปุนนา,117 หมู่ที่ 1,12/12/2566,03/65,"47,378",/,NaN,NaN,021
2,nan,42266106,โทร.,ต.คีรีวง อ.ปลายพระยา จ.กระบี่ 81160,NaN,NaN,nan,NaN,NaN,NaN,021
4,2,44028843,น.ส.จุฑามาศ เทียมยม,52 หมู่ที่ 3,13/12/2566,12/66,"54,840",/,NaN,NaN,021
5,nan,44028843,โทร.,ต.ห้วยยูง อ.เหนือคลอง จ.กระบี่ 81130,NaN,NaN,nan,NaN,NaN,NaN,021
7,3,44028842,น.ส.อภิสรา เทียมยม,52 หมู่ที่ 3,15/12/2566,12/66,"54,914",/,NaN,NaN,021

In [72]:
# เอาที่เลขกรมธรรม์เป็น null ออก เอาไว้ไปเติมข้อมูล
null_df = df[df['วันที่จ่ายเงิน'] . isnull()]
null_df.head()
null_field = ['กรมธรรม์' , 'ที่อยู่1']
null_df = null_df[null_field]
# เปลี่ยนชื่อ field
null_df.columns = ['กรมธรรม์' , 'ที่อยู่2']
# null_df.head()

In [73]:
# ดึงเลขกรมธรรม์ที่ไม่ null
notnull_df = df[df['วันที่จ่ายเงิน'] .notnull()]
# notnull_df.head()

In [74]:
# ่join data
data_df = pd.merge(notnull_df, null_df, on='กรมธรรม์', how='left')

# เรียงลำดับคอลัมน์ใหม่ 
column_order = ['ที่', 'กรมธรรม์','รหัสสาขา' , 'ชื่อ-สกุล', 'ที่อยู่1', 'ที่อยู่2', 'วันที่จ่ายเงิน', 'ปี','จำนวนเงิน' ,'รับเอง' ,'รับมอบฯ' ,'null']
data_df = data_df[column_order]

# ตัด culumn null ออก
data_df = data_df[['ที่', 'กรมธรรม์','รหัสสาขา' , 'ชื่อ-สกุล', 'ที่อยู่1', 'ที่อยู่2', 'วันที่จ่ายเงิน', 'ปี','จำนวนเงิน' ,'รับเอง' ,'รับมอบฯ']]

data_df.head()

,ที่,กรมธรรม์,รหัสสาขา,ชื่อ-สกุล,ที่อยู่1,ที่อยู่2,วันที่จ่ายเงิน,ปี,จำนวนเงิน,รับเอง,รับมอบฯ
0,1,42266106,021,นายคำมง ปริปุนนา,117 หมู่ที่ 1,ต.คีรีวง อ.ปลายพระยา จ.กระบี่ 81160,12/12/2566,03/65,"47,378",/,NaN
1,2,44028843,021,น.ส.จุฑามาศ เทียมยม,52 หมู่ที่ 3,ต.ห้วยยูง อ.เหนือคลอง จ.กระบี่ 81130,13/12/2566,12/66,"54,840",/,NaN
2,3,44028842,021,น.ส.อภิสรา เทียมยม,52 หมู่ที่ 3,ต.ห้วยยูง อ.เหนือคลอง จ.กระบี่ 81130,15/12/2566,12/66,"54,914",/,NaN
3,4,42332067,021,นายอนันต์ภรณ์ พรหมแสง,11 หมู่ที่ 6,ต.ลำทับ อ.ลำทับ จ.กระบี่ 81120,03/01/2567,11/66,"39,617",/,NaN
4,5,42332084,021,นางกมลรัตน์ เพ็ชรร่วง,105/5 หมู่ที่ 2 หมู่บ้านคลองท่อมใต้,ต.คลองท่อมใต้ อ.คลองท่อม จ.กระบี่ 81120,06/02/2567,09/66,"28,043",/,NaN

In [75]:
# ตัดแถวที่ไม่ต้องการ
data_df_finish = data_df[data_df['ปี'] .notnull()]
# notnull_df = df[df['กรมธรรม์'] .notnull()]
# data_df_finish.head()

In [76]:
data_df_finish['จำนวนเงิน'] = data_df_finish['จำนวนเงิน'].str.replace(',', '').astype(int)
data_df_finish = data_df_finish.sort_values(by=['รหัสสาขา', 'จำนวนเงิน'], ascending=[True, False])

#### ส่วน ACL

In [77]:
Rule_IND_df = data_df_finish[data_df_finish['รับมอบฯ'] == '/']
# เรียงลำดับ รหัสสาขา กับ จำนวนเงิน 
Rule_IND_df = Rule_IND_df.sort_values(by=['รหัสสาขา', 'จำนวนเงิน'], ascending=[True, False])
Rule_IND_df.head()

,ที่,กรมธรรม์,รหัสสาขา,ชื่อ-สกุล,ที่อยู่1,ที่อยู่2,วันที่จ่ายเงิน,ปี,จำนวนเงิน,รับเอง,รับมอบฯ
6,7,44046385,021,นางละเอียด ชูใจ,68 หมู่ที่ 6,ต.คีรีวง อ.ปลายพระยา จ.กระบี่ 81160,14/05/2567,04/67,28236,NaN,/
5,6,42332074,021,น.ส.อรทัย ชูใจ,68 หมู่ที่ 6,ต.คีรีวง อ.ปลายพระยา จ.กระบี่ 81160,14/05/2567,02/67,21139,NaN,/

##### Export

In [78]:
# วันที่ปัจจุบัน
now = datetime.now().strftime("%Y%m%d")

# แยก DataFrame ตามรหัสสาขาและบันทึกไฟล์ Excel
grouped = Rule_IND_df.groupby('รหัสสาขา')

for รหัสสาขา, group in grouped:
    # จำกัดจำนวน record ไม่เกิน 5
    if len(group) > 5:
        group = group.iloc[:5]
    record_count = group.shape[0]  # นับจำนวน record หลังการแบ่งไฟล์
    output_file_name = f"Rule2_OPsurrenderIND_{รหัสสาขา}_รับมอบ_{now}_{record_count}.xlsx"
    file_path = os.path.join(path, output_file_name)
    group.to_excel(file_path, index=False)