In [1]:
import pandas as pd
import os
import warnings
import datetime
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [2]:
warnings.filterwarnings('ignore')

In [3]:
path_leave = r'C:\Users\charoenchai.chu\Desktop\Rules\เคสบางสะพาน'
name_leave = 'ข้อมูลวันลา_3ปี'

file_path1 = os.path.join(path_leave, f'{name_leave}.xlsx')
df_leave = pd.read_excel(file_path1)
df_leave = df_leave[['โค้ด','ชือ - นามสกุล','ตำแหน่ง','วันที่เริ่มต้น','วันที่สิ้นสุด','รอบเวลา (1 วัน)']]
df_leave.head()

,โค้ด,ชือ - นามสกุล,ตำแหน่ง,วันที่เริ่มต้น,วันที่สิ้นสุด,รอบเวลา (1 วัน)
0,293,นางสาว โสภา มากมูล,สมุห์บัญชีสาขา,2022-01-10,2022-01-10,เต็มวัน
1,293,นางสาว โสภา มากมูล,สมุห์บัญชีสาขา,2022-01-19,2022-01-19,เต็มวัน
2,293,นางสาว โสภา มากมูล,สมุห์บัญชีสาขา,2022-03-12,2022-03-12,เต็มวัน
3,293,นางสาว โสภา มากมูล,สมุห์บัญชีสาขา,2022-04-04,2022-04-04,เต็มวัน
4,293,นางสาว โสภา มากมูล,สมุห์บัญชีสาขา,2022-04-11,2022-04-12,NaN

In [4]:
#เปลี่ยน path
path_lone = r'C:\Users\charoenchai.chu\Desktop\Rules\เคสบางสะพาน'
file_lone = 'รวมไฟล์_new'

file_path_lone = os.path.join(path_lone, file_lone + '.xlsx')
df_lone=pd.read_excel(file_path_lone , skiprows= 3)
df_lone['submitbranch']=df_lone['submitbranch'].astype(str).str.zfill(3)
# df_lone['journaltimestamp','recordtimestamp']
df_lone.head()

,policyno,prename,firstname,lastname,policystatus1,policystatusdate1,policyno1,loandate,Policyloandate,registerno,...,Policyloandate1,prename1,firstname5,lastname5,address,name4,name5,name6,zipcode,phoneno
0,35588533,000001,นิยม,เซี่ยงฉี,F,25710226,35588533,25670628,3558853325670628,35588533,...,NaN,000001,นิยม,เซี่ยงฉี,N25_x000D_\nM4,ทุ่งทอง,ท่าม่วง,กาญจนบุรี,71110.0,NaN
1,90214035,000004,ภากร,สิงห์ลอ,I,25670625,90214035,25670625,9021403525670625,90214035,...,NaN,000004,ภากร,สิงห์ลอ,N96_x000D_\nM1,หนองกระทุ่ม,กำแพงแสน,นครปฐม,73140.0,034695046
2,37900855,000002,บานเย็น,ทิมทอง,C,25670623,37900855,25670620,3790085525670620,37900855,...,NaN,000002,บานเย็น,ทิมทอง,N101/2_x000D_\nM2_x000D_\nVตาลเสี้ยน,รางสาลี่,ท่าม่วง,กาญจนบุรี,71110.0,0893792464
3,23224015,000003,นิษา,สมรูป,I,25650531,23224015,25670615,2322401525670615,23224015,...,NaN,000003,นิษา,สมรูป,N36_x000D_\nM10,แสนตอ,ท่ามะกา,กาญจนบุรี,71130.0,0918877760
4,36557624,000002,พรทิพย์,พุฒิลือชา,I,0,36557624,25670614,3655762425670614,36557624,...,NaN,000002,พรทิพย์,พุฒิลือชา,N67_x000D_\nVหนองรี-ท่าเรือ_x000D_\nAแสงชูโต 18,ตะคร้ำเอน,ท่ามะกา,กาญจนบุรี,71130.0,0818581066

In [5]:
# แปลงคอลัมน์ recordtimestamp และ journaltimestamp เป็น datetime
df_lone['recordtimestamp'] = pd.to_datetime(df_lone['recordtimestamp'], errors='coerce')
df_lone['journaltimestamp'] = pd.to_datetime(df_lone['journaltimestamp'], errors='coerce')

# ฟังก์ชันเพื่อเพิ่ม 1 ปีให้กับวันที่
def add_year(date):
    if pd.notna(date):  # ตรวจสอบว่าไม่เป็น NaT
        return date + relativedelta(years=1)
    return date

# เพิ่มวันที่ 1 ปี
df_lone['recordtimestamp'] = df_lone['recordtimestamp'].apply(add_year)
df_lone['journaltimestamp'] = df_lone['journaltimestamp'].apply(add_year)

df_lone.head()

,policyno,prename,firstname,lastname,policystatus1,policystatusdate1,policyno1,loandate,Policyloandate,registerno,...,Policyloandate1,prename1,firstname5,lastname5,address,name4,name5,name6,zipcode,phoneno
0,35588533,000001,นิยม,เซี่ยงฉี,F,25710226,35588533,25670628,3558853325670628,35588533,...,NaN,000001,นิยม,เซี่ยงฉี,N25_x000D_\nM4,ทุ่งทอง,ท่าม่วง,กาญจนบุรี,71110.0,NaN
1,90214035,000004,ภากร,สิงห์ลอ,I,25670625,90214035,25670625,9021403525670625,90214035,...,NaN,000004,ภากร,สิงห์ลอ,N96_x000D_\nM1,หนองกระทุ่ม,กำแพงแสน,นครปฐม,73140.0,034695046
2,37900855,000002,บานเย็น,ทิมทอง,C,25670623,37900855,25670620,3790085525670620,37900855,...,NaN,000002,บานเย็น,ทิมทอง,N101/2_x000D_\nM2_x000D_\nVตาลเสี้ยน,รางสาลี่,ท่าม่วง,กาญจนบุรี,71110.0,0893792464
3,23224015,000003,นิษา,สมรูป,I,25650531,23224015,25670615,2322401525670615,23224015,...,NaN,000003,นิษา,สมรูป,N36_x000D_\nM10,แสนตอ,ท่ามะกา,กาญจนบุรี,71130.0,0918877760
4,36557624,000002,พรทิพย์,พุฒิลือชา,I,0,36557624,25670614,3655762425670614,36557624,...,NaN,000002,พรทิพย์,พุฒิลือชา,N67_x000D_\nVหนองรี-ท่าเรือ_x000D_\nAแสงชูโต 18,ตะคร้ำเอน,ท่ามะกา,กาญจนบุรี,71130.0,0818581066

In [7]:
# join วันลา กับ lone
df_leave['โค้ด'] = df_leave['โค้ด'].astype(str).str.zfill(3)
df_lone['submitbranch'] = df_lone['submitbranch'].astype(str).str.zfill(3)

df_leave['วันที่เริ่มต้น'] = pd.to_datetime(df_leave['วันที่เริ่มต้น']).dt.date
df_leave['วันที่สิ้นสุด'] = pd.to_datetime(df_leave['วันที่สิ้นสุด']).dt.date
df_lone['date'] = pd.to_datetime(df_lone['recordtimestamp']).dt.date

# ฟิลเตอร์ข้อมูลในสาขาเดียวกันและวันที่ตรงกัน
data_df = df_lone.merge(df_leave, how='left', 
                           left_on=['date', 'submitbranch'], 
                           right_on=['วันที่เริ่มต้น', 'โค้ด'])
data_df.head()

,policyno,prename,firstname,lastname,policystatus1,policystatusdate1,policyno1,loandate,Policyloandate,registerno,...,name6,zipcode,phoneno,date,โค้ด,ชือ - นามสกุล,ตำแหน่ง,วันที่เริ่มต้น,วันที่สิ้นสุด,รอบเวลา (1 วัน)
0,35588533,000001,นิยม,เซี่ยงฉี,F,25710226,35588533,25670628,3558853325670628,35588533,...,กาญจนบุรี,71110.0,NaN,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN
1,90214035,000004,ภากร,สิงห์ลอ,I,25670625,90214035,25670625,9021403525670625,90214035,...,นครปฐม,73140.0,034695046,2024-06-25,NaN,NaN,NaN,NaN,NaN,NaN
2,37900855,000002,บานเย็น,ทิมทอง,C,25670623,37900855,25670620,3790085525670620,37900855,...,กาญจนบุรี,71110.0,0893792464,2024-06-20,NaN,NaN,NaN,NaN,NaN,NaN
3,23224015,000003,นิษา,สมรูป,I,25650531,23224015,25670615,2322401525670615,23224015,...,กาญจนบุรี,71130.0,0918877760,2024-06-15,NaN,NaN,NaN,NaN,NaN,NaN
4,36557624,000002,พรทิพย์,พุฒิลือชา,I,0,36557624,25670614,3655762425670614,36557624,...,กาญจนบุรี,71130.0,0818581066,2024-06-14,NaN,NaN,NaN,NaN,NaN,NaN

#### Set Rules

In [8]:
# มีการทำสัญญานอกเหนือจากเวลาทำงาน

# แปลงคอลัมน์ 'recordtimestamp' ให้เป็น datetime
df_lone['recordtimestamp'] = pd.to_datetime(df_lone['recordtimestamp'])

# กำหนดช่วงเวลาที่ต้องการกรอง
morning_start = pd.to_datetime('08:30:00').time()
morning_end = pd.to_datetime('12:00:00').time()
afternoon_start = pd.to_datetime('13:00:00').time()
afternoon_end = pd.to_datetime('17:00:00').time()

# กรองข้อมูลที่ไม่อยู่ในช่วงเวลาที่กำหนด
filtered_time = df_lone[~((df_lone['recordtimestamp'].dt.time >= morning_start) & (df_lone['recordtimestamp'].dt.time <= morning_end) |
                    (df_lone['recordtimestamp'].dt.time >= afternoon_start) & (df_lone['recordtimestamp'].dt.time <= afternoon_end))]

# แสดงข้อมูลที่กรองแล้ว
# filtered_df['recordtimestamp']
filtered_time['Rules01'] = 'มีการทำสัญญานอกเหนือจากเวลาทำงาน'
filtered_time = filtered_time[['submitbranch','policyno','Rules01']]
# filtered_time

In [9]:
# มีพนักงานคนใดคนหนึ่งลาในช่วงเวลาทำงาน
# data_df1 = data_df[['โค้ด','policyno1']]
# ฟิลเตอร์ข้อมูลในสาขาเดียวกันและวันที่ตรงกัน
filter_leave = data_df[data_df['โค้ด'].notnull()]

filter_leave['Rules02'] = 'มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว'
# filter_leave = filter_leave[['โค้ด','policyno','Rules02']]
filter_leave
# leave

,policyno,prename,firstname,lastname,policystatus1,policystatusdate1,policyno1,loandate,Policyloandate,registerno,...,zipcode,phoneno,date,โค้ด,ชือ - นามสกุล,ตำแหน่ง,วันที่เริ่มต้น,วันที่สิ้นสุด,รอบเวลา (1 วัน),Rules02
18,38169239,000003,พรรณี,แรงครุฑ,I,0,38169239,25670525,3816923925670525,38169239,...,71110.0,089148392,2024-05-25,032,นาง จารุณี ไชยโย,สมุห์บัญชีสาขา,2024-05-25,2024-05-25,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
19,35588533,000001,นิยม,เซี่ยงฉี,F,25710226,35588533,25670523,3558853325670523,35588533,...,71110.0,NaN,2024-05-23,032,นางสาว นภัสพร ลมพัด,เจ้าหน้าที่สาขา,2024-05-23,2024-05-23,NaN,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
26,37900822,000001,ธีรพล,พงษ์พัว,I,0,37900822,25670503,3790082225670503,37900822,...,71130.0,0656236586,2024-05-03,032,นางสาว นภัสพร ลมพัด,เจ้าหน้าที่สาขา,2024-05-03,2024-05-03,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
31,86017028,000003,พกาวรรณ,ปุราทะเน,I,0,86017028,25670419,8601702825670419,86017028,...,71130.0,0639423883,2024-04-19,032,นางสาว นภัสพร ลมพัด,เจ้าหน้าที่สาขา,2024-04-19,2024-04-19,NaN,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
33,90241056,000001,สันติ,สัจจะธีรกุล,I,25640202,90241056,25670409,9024105625670409,90241056,...,70190.0,0929707703,2024-04-09,032,นางสาว นภัสพร ลมพัด,เจ้าหน้าที่สาขา,2024-04-09,2024-04-09,NaN,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26712,90178243,000003,อรวรรณ,โถทอง,J,25670527,90178243,25660421,9017824325660421,90178243,...,12110.0,0966525647,2023-04-21,850,นางสาว ศุภรดา รุ่งฟ้าใหม่,เจ้าหน้าที่สาขา,2023-04-21,2023-04-21,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
26725,90198171,000002,วันทา,คำมี,I,25621015,90198171,25660619,9019817125660619,90198171,...,72180.0,0853378896,2023-06-19,634,นางสาว ราวดี เชาว์ไทย,สมุห์บัญชีสาขา,2023-06-19,2023-06-19,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
26730,90206047,000002,บิ้ง,แววประเสริฐ,I,25660927,90206047,25660927,9020604725660927,90206047,...,43100.0,0811175519,2023-09-27,691,นางสาว กุลภัสสรณ์ ศรีชาติ,สมุห์บัญชีสาขา,2023-09-27,2023-09-27,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
26739,90215564,000003,ทองสุข,เมฆฉาย,I,25630528,90215564,25660811,9021556425660811,90215564,...,37240.0,0630236313,2023-08-11,634,นางสาว อัจฉรา ปรางทอง,เจ้าหน้าที่สาขา,2023-08-11,2023-08-11,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว
26748,90238342,000001,ธิมาพร,คล้ายสุบรรณ,I,25640111,90238342,25670226,9023834225670226,90238342,...,12160.0,0634301953,2024-02-26,672,นางสาว อังคณา ดิษฐวิเศษ,รก.สมุห์บัญชีสาขา,2024-02-26,2024-02-26,เต็มวัน,มีการสร้างสัญญาในวันที่อยู่สาขาคนเดียว

In [10]:
# ทำ left join โดยเริ่มจาก df1 กับ df2
df_left_join_1 = data_df.merge(filtered_time, how='left', on=['submitbranch','policyno'])

# จากนั้นทำ left join กับ df3
df_left_join_2 = df_left_join_1.merge(filter_leave, how='left', on=['โค้ด','policyno'])

# แสดงข้อมูลที่ได้

In [11]:
# รับวันที่ปัจจุบันในรูปแบบที่ต้องการ
now = datetime.now().strftime("%d%m%Y")

# กำหนดพาธของโฟลเดอร์
file_path1 = r'C:\Users\charoenchai.chu\Desktop\Rules\เคสบางสะพาน'
os.makedirs(file_path1, exist_ok=True)  # สร้างโฟลเดอร์ถ้ายังไม่มี

# สร้างชื่อไฟล์ด้วยวันที่
file_name_finish = f"เคสบางสะพาน_ALL_{now}.xlsx"
file_path_finish = os.path.join(file_path1, file_name_finish)

# ส่งออก DataFrame เป็นไฟล์ Excel
df_left_join_2.to_excel(file_path_finish, index=False)